<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome to the Dashboard!</h1>
<button id="logoutButton">Logout</button>
<!-- Your dashboard content here -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const logoutButton = document.getElementById('logoutButton');

        logoutButton.addEventListener('click', async function () {
            try {
                const response = await fetch('/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    const data = await response.json();
                    console.log(data.message);
                    if (data.message === 'Logged out') {
                        // Redirect the user to the login page after successful logout
                        window.location.href = '/'; // Adjust the path as needed
                    } else {
                        console.error("Error logging out:", data.error);
                    }
                } else {
                    console.error("Error logging out. Server responded with status:", response.status);
                }
            } catch (error) {
                console.error("Error logging out:", error);
            }
        });
    });
</script>
</body>
</html>